<div class="col-padding-right">
  <label> <span class="text">Entidad:</span>
    <at-select placeholder="Selec. opción" list="dataSearchCtrl.tipoEntidadArray" ng-model="dataSearchCtrl.tipoEntidad" at-width="168px" class="clearfix"></at-select>
  </label>
</div>
<div class="col-padding-right">
  <label for="document1">
    <span class="text" ng-bind='::dataSearchCtrl.dataSearch.documento'></span>
    <span bk-cl-document bk-id="document1" name="document1" ng-model="dataSearchCtrl.document" bk-onsearch="dataSearchCtrl.showTable"></span>
  </label>
</div>
<div class="col-padding-right">
  <div class="form-group">
    <label for="campo-disabled"><span class="text" ng-bind='::dataSearchCtrl.dataSearch.nombre'></span>
      <input id="campo-disabled" type="text" disabled="disabled" ng-model="dataSearchCtrl.razonSocial" size="45" class="form-control input-disabled"/>
    </label>
  </div>
</div>
