<div class="main">
  <div class="clearfix">
    <div class="col-m-12 col-l-5 fondoBloque col-padding-interno bordered clearfix">
      <header-data-template></header-data-template>
    </div>
  </div>
  <div class="padding-top">
    <div class="col-m-5 col-l-2 col-brake table-doc bordered">
      <ng-include src="'app/components/searchResults.module/docuInjection.component/docuInjectionView.html'"></ng-include>
      <!-- <documentation-injection-template></documentation-injection-template> -->
    </div>
    <div class="col-m-7 col-l-3">
      <ng-include src="'app/components/searchResults.module/dealDestFunds.component/dealDestFundsView.html'"></ng-include>
      <!-- <rep-fondos-destino-template></rep-fondos-destino-template> -->
    </div>
    <div class="col-m-7 col-l-3 float-right">
      <ng-include src="'app/components/searchResults.module/dynamicDestFunds.component/dynamicDestFundsView.html'"></ng-include>
      <!-- <din-fondos-destino-template></din-fondos-destino-template> -->
    </div>
  </div>
</div>
<footer>
  <div class="clearfix">
    <footer-template footer="1"></footer-template>
  </div>
</footer>
