col.hold-back {
    width: 60px;
}

col.funds-contract-num {
    width: 200px;
}

col.interveners {
    width: 100px;
}

col.conjugal {
    width: 100px;
}

col.heritage {
    width: 226px;
}

col.condominium {
    width: 226px;
}