  <div class="bk-table-tabs">
    <h6 class="tab">REPARTO DE FONDOS DE DESTINO</h6>
    <ul class="first-level">
      <li ng-class="{'active':searchResultsCtrl.btnactive}">
        <button type="button" ng-click="searchResultsCtrl.btnactive = true">% PORCENTAJE</button>
      </li>
      <li ng-class="{'active':!searchResultsCtrl.btnactive}">
        <button type="button" ng-click="searchResultsCtrl.btnactive = false">Nº DE PARTICIPACIONES</button>
      </li>
    </ul>
    <div class="content dealDestFunds">
      <div class="bk-table">
        <table class="table scrollable-table">
          <colgroup>
          <col class="hold-back"/>
          <col class="funds-contract-num"/>
          <col class="interveners"/>
          <col class="conjugal"/>
          <col class="heritage"/>
          <col class="condominium"/>
          <col class="scroll"/>
        </colgroup>
        <thead>
          <tr>
            <th class="text-center">Retener</th>
            <th class="text-left">Número de contrato</th>
            <th class="text-center">Intervinientes</th>
            <th class="text-center">Gananciales</th>
            <th class="text-right">Herencia</th>
            <th class="text-right">Condominio</th>
            <th></th>
          </tr>
        </thead>
      </table>
      <div class="scrollable-body">
        <table class="table scrollable-table">
          <colgroup>
          <col class="hold-back"/>
          <col class="funds-contract-num"/>
          <col class="interveners"/>
          <col class="conjugal"/>
          <col class="heritage"/>
          <col class="condominium"/>
          <col class="scroll"/>
        </colgroup>
        <tbody>
          <tr ng-repeat="reparto in searchResultsCtrl.repartoFondosDestinoArray" ng-click="searchResultsCtrl.changeClass($index)" ng-class="{'active':$index == searchResultsCtrl.active}">
            <td class="text-center">
              <input type="checkbox"/>
            </td>
            <td class="text-left">
              <label>{{reparto.contrato}}</label>
            </td>
            <td class="text-center">
             <span class="bki-add-row"></span>
           </td>
           <td class="text-center">
            <label ng-show="searchResultsCtrl.btnactive">{{reparto.gananciales}}</label>
            <label ng-show="!searchResultsCtrl.btnactive">356.56789</label>
          </td>
          <td class="text-right">
            <label>{{reparto.herencia}}</label>
          </td>
          <td class="text-right">
            <label>{{reparto.condominio}}</label>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footerTable separator">
    <div bk-button="bk-button" type="button" bk-type="=" ng-disabled="!searchResultsCtrl.habilitarBotonDetalle == true" ng-click="searchResultsCtrl.eventoBotonDetalle()">Detalle	</div>
  </div>
</div>
</div>
</div>
