.listDeals-container{
	padding-top: 10px;
}
col.entity {
    width: 152px;
}

col.office {
    width: 64px;
}

col.contract-num {
    width: 160px;
}

col.comercial-prod {
    width: 186px;
}

col.tit-change-date {
    width: 165px;
}

col.dist-type {
    width: 200px;
}

col.tram-date {
    width: 165px;
}

col.state {
    width: 136px;
}