<div class="listDeals-container">
  <h6>LISTA DE REPARTOS</h6>
  <div class="bk-table">
    <table id="search-data" class="table table scrollable-table">
      <colgroup>
        <col class="entity"/>
        <col class="office"/>
        <col class="contract-num"/>
        <col class="comercial-prod"/>
        <col class="tit-change-date"/>
        <col class="dist-type"/>
        <col class="tram-date"/>
        <col class="state"/>
        <col class="scroll"/>
      </colgroup>
      <thead>
        <tr>
          <th class="text-left">Entidad</th>
          <th class="text-center">Oficina</th>
          <th class="text-left">Número de Contrato</th>
          <th class="text-center">Producto comercial</th>
          <th class="text-center">Fecha cambio titularidad</th>
          <th class="text-left">Tipo de distribución</th>
          <th class="text-center">Fecha de tramitación</th>
          <th class="text-left">Estado</th>
          <th></th>
        </tr>
      </thead>
    </table>
    <div class="scrollable-body no-height">
      <table class="table scrollable-table">
        <colgroup>
          <col class="entity"/>
          <col class="office"/>
          <col class="contract-num"/>
          <col class="comercial-prod"/>
          <col class="tit-change-date"/>
          <col class="dist-type"/>
          <col class="tram-date"/>
          <col class="state"/>
          <col class="scroll"/>
        </colgroup>
        <tbody>
          <tr ng-repeat="histor in dataSearchCtrl.historicoRepartosArray" ng-click="dataSearchCtrl.changeClass($index)" ng-class="{'active':$index == dataSearchCtrl.active}">


            <td class="text-left"> {{histor.entidad}}</td>
            <td class="text-center">{{histor.oficina}}</td>
            <td class="text-left"> {{histor.num_contrato}}</td>
            <td class="text-center">{{histor.product_comercial}}</td>
            <td class="text-center">{{histor.fecha_titular}}</td>
            <td class="text-left"> {{histor.tipo_distribucion}}</td>
            <td class="text-center">{{histor.fecha_tram}}</td>
            <td class="text-left"> {{histor.estado}}</td>

<!-- Según el objeto de Java, estos son los campos
            <td class="text-left"> {{histor.nombreEntidad}}</td>
            <td class="text-center">{{histor.oficina}}</td>
            <td class="text-left"> {{histor.contratoFondo}}</td>
            <td class="text-center">{{histor.idSolicitudReparto}}</td>
            <td class="text-center">{{histor.fechaCambioTitularidad}}</td>
            <td class="text-left"> {{histor.isin}}</td>
            <td class="text-center">{{histor.fechaEjecucion}}</td>
            <td class="text-left"> {{histor.estadoReparto}}</td>

  -->
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footerTable"></div>
  </div>
</div>
