<div class="main">
  <div class="clearfix">
    <div class="col-m-12 col-l-5 fondoBloque col-padding-interno bordered clearfix">
      <header-data-template></header-data-template>
    </div>
  </div>
  <div ng-init="historyDealsCtrl.comprobarhistoryDeals()" class="clearfix padding-top">
    <ng-include src="'app/components/historyDeals.module/tabHistoryDeals.component/tabHistoryDealsView.html'"></ng-include>
  </div>
</div>
<footer>
  <div class="clearfix">
    <footer-template footer="2"></footer-template>
  </div>
</footer>
