// Estilos del componente para NEO.
// Por el momento se incluyen en la DEMO pero estos estilos tendrán su propio repositorio.
// @1 bk-cl-multiproduct
//  @1.1 Variables and placeholders
//  @1.2 Elements
//  @1.3 bk-combo states
//  @1.4 Inner combo elements

// @1 bk-cl-document
//-------------------------------------------------
.bk-cl-multiproduct {
  // @1.1 Variables and placeholders
  //---------------------------------------------
  $default-padding: 5px 4px 4px;
  $neo-required-background: #fff9c0;
  $neo-disabled-background: #eee;
  $neo-emptyvalue-disabled: $neo-disabled-background;
  $neo-disabled-text-color: #939393;
  $neo-disabled-border-color: #e9e9e9;
  $neo-disabled-unfold-icon-color: #969696;
  $neo-input-border-color: #dadada;
  $select-max-width: 180px;

  %position-resets {
    float: none;
    padding: 0;
    position: initial;
  }

  %inner-button-disabled {
    background-image: linear-gradient(#f6f6f6, #e6e6e6) !important;
    border: 1px solid $neo-disabled-border-color !important;
    color: $text-color !important;
    cursor: not-allowed !important;

    .bki-unfold-down {
      color: $neo-disabled-unfold-icon-color;
    }
  }

  %inner-button-hover {
    background: linear-gradient(#9a8875 0%, #857364 100%);
    border: 1px solid #857364;
    color: $white;
  }
  //----------------------------------------------


  // @ 1.2 Elements
  //----------------------------------------------

  .form-control:focus {
    border-color: $neo-input-border-color;
  }

  .label-column {
    &:last-of-type {
      margin-right: 4px;
    }

    .text {
      color: $text-color;
      display: block;
      font-family: $font-family-verdana;
      font-size: 12px;
    }
  }

  .bk-combo {
    // @1.3 bk-combo states
    //---------------------------------------------
    &.bk-required {
      [bk-combo-control],
      [bk-combo-content],
      .form-control[required] {
        background-color: $neo-required-background;
      }
    }

    &.bk-disabled {
      [bk-combo-control],
      [bk-combo-content],
      .form-control[disabled] {
        background-color: $neo-disabled-background;
        color: $neo-disabled-text-color;
        cursor: not-allowed;
      }

      .emptyvalue {
        color: $neo-emptyvalue-disabled !important;
      }

      .inner-button,
      .inner-button:hover {
        @extend %inner-button-disabled;
      }
    }
    //---------------------------------------------

    // @1.4 Inner combo elements
   //---------------------------------------------
    [bk-combo-control] {
      border: 1px solid $neo-input-border-color;
      display: table;
      font-family: $font-family-verdana;
      font-size: 12px;
      width: $select-max-width;

      &[aria-pressed="true"] {
        border-bottom: 1px solid transparent;
        color: $neo-disabled-text-color;
      }

      .text,
      .emptyvalue,
      .inner-button {
        @extend %position-resets;
        display: table-cell;
      }

      .emptyvalue,
      .text {
        padding: $default-padding;
        text-align: left;
        vertical-align: middle;
        width: ($select-max-width - 25);
      }

      .inner-button:hover {
        @extend %inner-button-hover;
      }

      .emptyvalue {
        color: #939393;
        padding: 5px 4px 4px;
      }
    }

    [bk-combo-content] {
      background-color: $white;
      border: 1px solid $neo-input-border-color;
      font-family: $font-family-verdana;
      font-size: 12px;
      width: $select-max-width;

      &:focus {
        outline: none;
      }

      li:hover {
        background-color: #efefef;
      }
    }
  }
}