
//@import "compass";

//@import "bower_components/bankia-cl-ui-document/dist/scss/bk-cl-document";

// Estilos componentes personalizados

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.container-box {
	position: relative;
	min-height: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

h6 {
	font-family: "Verdana", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
}

a {
	cursor: pointer;
}

.main {
	padding: 8px 28px 0px 8px;
	min-height: 562px;
}


.bk-radio .bki-fold-fill + .bki-fold-fill {
	top: 0 !important;
	font-size: 6px;
	left: 3px;
	color: #777;
}

.bk-radio .bki-fold-fill {
	color: #F2F1F1;
}

.bk-radio .text-radio {
	margin-left: 2px;
}

.bk-radio .presentation {
	margin: 0;
}

.bk-table .bki-add-row {
	position: relative;
	margin: 0;
	top: auto;
}

.bk-document-injection .bk-table {
    border: 0 !important;
}

.bk-table.custom {
	background: transparent;
	border: none;
}

.footerTable .bk-buttonbar {
	padding: 0;
}

.bk-document-injection {
    padding: 0 8px 30px;
    background: #d7d7d7;
    border-top: 1px solid #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
}

.title {
	padding: 4px 0;
	text-transform: uppercase;
}


#buscar {
	height: 24px;
}

at-select.type {
    width: 108px;
}

at-select.entity {
    width: 168px;
}

.botones {
	display: inline-block;
	width: auto;
	float: right;
}

.botones .bk-button-danger {
	float: right;
	margin-left: 8px;
}

/*label .bk-combo .text {
  display: inline-block;
  padding: 0 4px !important;
}*/

.form-inline .form-control {
	border-radius: 1px;
}

select.form-control {
	height: 25px;
	padding: 2px;
	margin-top: 0px;
}



.bk-table-tabs > ul, .bk-box-tabs > ul, .bk-tabs > ul {
	display: inline-block;
	float: right;
	width: auto;
	top: 2px;
}

.bk-table-tabs > ul .active, .bk-box-tabs > ul .active,
.bk-tabs > ul .active {
  top: 0;
  vertical-align: baseline;
}

.bk-table-tabs > .content {
	float: right;
	border: 0;
	background: transparent;
}

.bk-table .table > thead > tr > th:before, .bk-table .table > thead > tr > td:before {
	border: 1px solid #E5DFDF;
}

.footerTable {
	bottom: 0;
	width: 100%;
}

.bk-table .scrollable-body {
	position: relative;
}

.scrollable.custom.scroll-control {
	min-height: 198px;
}

.bk-table .scrollable-body.no-height {
	min-height: 0;
}

img {
	width: 100%;
	height: auto;
}

.bk-footerbar {
	display: table;
	width: 100%;
	padding: 0;
}

.bk-footerbar .bk-buttonbar {
	padding: 12px 8px;
	margin: 0;
}

a.historico {
	display: table-cell;
	vertical-align: middle;
	padding-left: 8px;
}

h6.title-tab {
	display:inline-block;
	width: auto;
	float: left;
	padding: 8px 8px 0;
}

table {
	border: 0px !important;
}

table td, table th {
	border: 0 !important;
}

//end
.bk-table {
	background: transparent;
}
.bk-table .table {
	border-collapse: inherit;
}
.bk-table .table > thead > tr > th, .bk-table .table > tbody > tr > td {
  border-left: 1px solid #dbdbdb !important;
  border-bottom: 1px solid #dbdbdb !important;
}

.bk-table .table > thead > tr > th:before, .bk-table .table > thead > tr > th:after {
	display: none;
}

a {
	font-size: 12px !important;
}

label.button {
	display: inline-block;
}

label {
	display: block;
}

.form-group {
	width: 100%;
	position: relative;
	margin: 0;
}

button.passbook {
	width: 28px;
	height: 24px;
	font-size: 0;
	border-radius: 0;
	margin-top: -3px;
	margin-right: 4px;
	padding: 0;
}

.padding-button {
	padding: 4px 10px !important;
}


.row.margin-cero {
	margin: 0 auto;
}

.row.padding-both {
	padding: 0px 8px;
}

.col-padding-right {
	display: inline-block;
	width: auto;
	margin-right: 16px;
	float: left;
}

.last-col {
	display: inline-block;
	width: auto;
	float: left;
}

.col-disabled {
	opacity: 0.6;
	float: left;
}

// header search

.causative-header {
    width: 270px;
}

.funds-header {
    width: 270px;
}

.contract-header {
    width: 270px;
}

.deal-header {
    width: 106px;
}

.dateDeal-header {
    width: 148px;
}

.entity-header {
    width: 105px;
}

.isin-header {
    width: 280px;
}

//end header search

.bk-table .scrollable-body {
	max-height: 200px;
	min-height: 200px;
}

.header-detailSearch {
	padding-bottom: 16px
}

.bk-table .scrollable-body.detailSearch {
	max-height: 160px;
	min-height: 160px;
}


.float-right {
	float: right;
}

label.padding-bottom {
	padding-bottom: 6px;
}

input[type="radio"] {
	margin: 3px 4px !important;
}

.padding-top {
	padding-top: 16px;
}

.float-right {
	float: right !important;
}

.span-aceptar {
	color: #E6ED94;
	padding-right: 4px;
}

.btn-margin-left {
	margin-left: 10px !important;
}

.span-abandonar {
	color: red;
	padding-right: 4px;
}

h6.tab {
	padding-left: 8px;
}

h6.no-padding {
	margin: 2px 0;
}

h6.bki-associated-documentation-oi {
	font-size: 12px;
}

h6.bki-associated-documentation-oi:before {
	font-size: 14px;
	padding-right: 4px;
}

.bordered {
	border:  1px solid #ddd;
} 


body {
	
	font-family: 'Verdana' !important;
	font-size: 12pt !important;
	color: #35261A !important;
	line-height: 14px !important;
	background-color: #F2F1F1 !important;
}

table {
	font-family: 'Verdana' !important;
	font-size: 12px !important;
	color: #35261A;
}

label {
	font-family: 'Verdana' !important;
	font-size: 12px !important;
	color: #35261A;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f6f6f6;
}

.selectedRow {
	background-color: #E6ED94 !important;
}

tr:hover {
	cursor: pointer;
}


.barraInfBotones {
	background-color: #F0F0F0;
}


.fondoBloque {
	background-color: white;
}


tfoot {
	background: #E5DFDF !important;
}

.alinearDerecha {
	float: right;
}

.marginSuperior {
	margin-top: 200px;
}

.table > thead {
	background-color: #E5DFDF !important;
}

.camposIBAN {
	width: 60px !important;
	height: 31px !important;
	margin-right: 8px !important;
	margin-left: 8px !important;
	background-color: #FFF9C0;
}

.enlacesSubr {
	text-decoration: underline;
}

.fondoAsterisco {
	background-color: #FFE066;
	color: #0000FF;
	margin: 0px 0px 0px 6px;
}

footer {
	vertical-align: baseline;
	width: 100%;

}

table.no-margin {
	margin: 0;
}

#myTable.bottom th, #myTable.bottom td {
	width: 17%; 
}

#myTable th, #myTable td {
	width: 14%; 
	height: 27px;
	padding: 3px;
}

#myTable th.small, #myTable td.small {
	width: 6%;
	font-size: 12px; 
}

#myTable th.last-small, #myTable td.last-small {
	width: 4%; 
}

#myTable th.big, #myTable td.big {
	width: 20%;
	font-size: 12px; 
}

tbody.customTabla {
	height: 250px;
}

.withoutMarginBott {
	margin-bottom: 0px !important;
}

/*
Force table width to 100%
*/
table.table-fixedheader {
	width: 100%;  
	margin-bottom: 0; 
}
/*
Set table elements to block mode.  (Normally they are inline).
This allows a responsive table, such as one where columns can be stacked
if the display is narrow.
*/
table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>td {
	display: block;
}
table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after {
	content:' ';
	display: block;
	visibility: hidden;
	clear: both;
}
/*
When scrolling the table, actually it is only the tbody portion of the
table that scrolls (not the entire table: we want the thead to remain
fixed).  We must specify an explicit height for the tbody.  We include
100px as a default, but it can be overridden elsewhere.

Also, we force the scrollbar to always be displayed so that the usable
width for the table contents doesn't change (such as becoming narrower
when a scrollbar is visible and wider when it is not).
*/
table.table-fixedheader>tbody {
	overflow-y: scroll;
	height: 250px;
	width: 100%;
	
}
/*
We really don't want to scroll the thead contents, but we want to force
a scrollbar to be displayed anyway so that the usable width of the thead
will exactly match the tbody.
*/
table.table-fixedheader>thead {
	overflow-y: scroll; 
	width: 100%;   
}
/*
For browsers that support it (webkit), we set the background color of
the unneeded scrollbar in the thead to make it invisible.  (Setting
visiblity: hidden defeats the purpose, as this alters the usable width
of the thead.)
*/
table.table-fixedheader>thead::-webkit-scrollbar {
	background-color: inherit;
}


table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after {
	content:' ';
	display: table-cell;
	visibility: hidden;
	clear: both;
}

/*
We want to set <th> and <td> elements to float left.
We also must explicitly set the width for each column (both for the <th>
and the <td>).  We set to 20% here a default placeholder, but it can be
overridden elsewhere.
*/

table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td {
	float: left;    
	word-wrap:break-word;     
}

.bk-table .table > thead > tr > th, .bk-table .table > thead > tr > td {
	padding: 9px 4px;
}


input[type="text"][disabled]{
	color: #000;
}

.footerTable {
	text-align: right;
	background-color: #ECEBEB;
	padding: 4px;
	min-height: 34px;
}

.footerTable.separator {
	border-top: 1px solid #DBDBDB;
}

.footerDinamicTable {
	text-align: right;
	padding: 8px 0px 0px 0px;
}

.bk-table .table > thead > tr > th, .bk-table .table > tbody > tr > td {
	vertical-align: middle;
}

.bk-table .table > thead > tr > th:first-child, .bk-table .table > tbody > tr > td:first-child {
	border-left: 0 !important;
}

.bk-table .table > thead > tr > th:last-child, .bk-table .table > tbody > tr > td:last-child {
	border-right: 0 !important;
}

.bk-table .table > tbody > tr > td {
	padding: 0px 4px 0px 4px !important;
	height: 26px;
}

td label:hover,th label:hover {
	cursor: pointer;
}

ul#buttonsDinamicTable {
	padding: 0 0 8px;
}

.customTab {
	margin-right: 0px !important;
	background-color: #F1F1F1;

}

.nav-tabs>li.active>a {
	background-color: #E5DFDF !important;
}

//cols

.col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-l-5, .col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12 {
		float: left;
	}

.col-padding-interno {
	padding: 8px;
}

.col-brake {
    margin-right: 16px;
}

//end cols


@media (min-width: 1280px) {

	.col-l-1{
		width: 300px;
	}

	.col-l-2{
		width: 616px;
	}

	.col-l-3{
		width: 932px;
	}

	.col-l-4{
		width: 1248px;
	}

	.col-l-5{
		width: 1564px;
	}

	.col-l-6 {
	    width: 720px;
	}

}

@media only screen and (max-width: 1280px) {

	//cols

	.col-m-1{
		width: 89px;
	}

	.col-m-2{
		width: 194px;
	}

	.col-m-3{
		width: 299px;
	}

	.col-m-4{
		width: 404px;
	}

	.col-m-5{
		width: 509px;
	}

	.col-m-6{
		width: 614px;
	}

	.col-m-7{
		width: 719px;
	}

	.col-m-8{
		width: 824px;
	}

	.col-m-9{
		width: 929px;
	}

	.col-m-10{
		width: 1034px;
	}

	.col-m-11{
		width: 1132px;
	}

	.col-m-12{
		width: 1244px;
	}

	//end cols

	.main {
		min-height: 685px;
	}
}