<div class="causative-header col-padding-right">
  <div class="form-group">
    <label for="campo-disabled"><span class="text">Causante:</span>
      <input id="campo-disabled" type="text" disabled="disabled" ng-model="serviceDatosCliente[0].causante" class="form-control disabled"/>
    </label>
  </div>
</div>
<div class="funds-header col-padding-right">
  <div class="form-group">
    <label for="campo-disabled"><span class="text">Fondos Origen:</span>
      <input id="campo-disabled" type="text" disabled="disabled" ng-model="serviceDatosCliente[0].fondo_origen" class="form-control disabled"/>
    </label>
  </div>
</div>
<div class="contract-header col-padding-right">
  <div class="form-group">
    <label for="campo-disabled"><span class="text">Número de contrato:</span>
      <input id="campo-disabled" type="text" disabled="disabled" ng-model="serviceDatosCliente[0].numero_contrato" class="form-control disabled"/>
    </label>
  </div>
</div>
<div class="deal-header col-padding-right">
  <div class="form-group">
    <label for="campo-disabled"><span class="text">Reparto:</span>
      <input id="campo-disabled" type="text" disabled="disabled" ng-model="serviceDatosCliente[0].reparto" class="form-control disabled"/>
    </label>
  </div>
</div>
<div class="dateDeal-header col-padding-right">
  <div class="form-group">
    <label for="campo-disabled"><span class="text">Fecha del reparto:</span>
      <input id="campo-disabled" type="text" disabled="disabled" ng-model="serviceDatosCliente[0].fecha_reparto" class="form-control disabled"/>
    </label>
  </div>
</div>
<div class="entity-header col-padding-right">
  <div class="form-group">
    <label for="campo-disabled"><span class="text">Entidad:</span>
      <input id="campo-disabled" type="text" disabled="disabled" ng-model="serviceDatosCliente[0].entidad" class="form-control disabled"/>
    </label>
  </div>
</div>
<div class="isin-header last-col">
  <div class="form-group">
    <label for="campo-disabled"><span class="text">ISIN:</span>
      <input id="campo-disabled" type="text" disabled="disabled" ng-model="serviceDatosCliente[0].isin" class="form-control disabled"/>
    </label>
  </div>
</div>