footer
	div(class="row margin-cero")
		div(class="col-sm-12 col-md-12 col-lg-12 no-padding")
			.bk-footerbar
				ul.bk-buttonbar
					li
						div.bk-with-literal(bk-button, type="button", bk-type="+", ng-click="datosBusqCtrl.checkOptSelected()", ng-disabled="datosBusqCtrl.btnAceptar")
							span.bki-success
							span.text Aceptar
					li
						div.bk-with-literal(bk-button, type="button", bk-type="-")
							span.bki-error
							span.text Abandonar
			img(src="assets/img/pie.jpg", class="footer")

