img(src="../assets/img/cabecera.jpg")
nav(class="navbar navbar-default")
	div.container-fluid
		div.navbar-header
			span(class="navbar-brand") Bankia

			ul(class="nav navbar-nav")
				li
					a(ui-sref="datosBusqueda") Datos Búsqueda
				