
@mixin align-vertically($position: relative) {
  @include translateY(-50%);
  position: $position;
  top: 50%;
}

.bk-document-injection {

  .dropdown-menu {
    -webkit-box-shadow: 0 6px 10px 0 #afafaf;
    box-shadow: 0 6px 10px 0 #afafaf;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    /* display: none; */
    min-width: 150px;
    padding: 6px 0;
    position: absolute;
    right: 0;
    z-index: 10;
  }

  caption {

    .bki-stack {
      display: inline-block;
      height: 23px;
      line-height: 23px;
      position: relative;
      vertical-align: middle;
      width: 23px;
    }

    .bki-ico-injections-base {
      color: #8f8171;
      left: 0;
      position: absolute;
      top: 0;
    }

    .bki-ico-injections-arrow {
      color: #94a103;
      left: 0;
      position: absolute;
      top: 0;
    }

    .text {
      font-size: 14px;
      margin-left: 7px;
      vertical-align: middle;
    }
  }

  .scrollable {
    border: 1px solid #c7c7c7;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    min-height: 188px;
    max-height: 188px;
  }

  colgroup {
    .status {
      width: 160px;
    }

    .action {
      width: 68px;
    }

    .actions-layer {
      width: 136px;
    }

    &.col-6 {
      .document {
        width: 615px;
      }
    }

    &.col-4 {
      .document {
        width: 300px;
      }
    }

    &.col-3 {
      .document {
        width: 250px;
      }

      .actions-layer {
        width: 25px;
      }
    }
  }

  .indenter {
    float: left;
  }

  .document-name {
    font-size: 12px;
    margin: 0;
  }

  .document-status {
    vertical-align: text-top;
    padding-left:30px;  
  }

  .bk-combo-content {
    @include box-shadow(0 6px 10px 0 #afafaf);
    background-color: #f7f7f7;
    border-bottom: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    min-width: 150px;
    padding: 6px 0;
    position: absolute;
    z-index: 10;
    display: none;
    left: 447px;

    p {
      color: #8f8171;
      padding: 0 10px;
    }

    &::before {
      border-top: 1px solid #f7f7f7;
      content: '';
      position: absolute;
      right: 0;
      top: -1px;
      width: 25px;
    }

    .task-group {
      border-bottom: 1px solid #dddad2;
      border-top: 1px solid #ffffff;
      margin-bottom: 0;
      padding: 2px 0;

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    li {
      position: relative;

      a {
        display: block;
        padding: 4px 10px;
        color:#017a99;
        text-decoration:underline;

        &:hover {
          background-color: #dadad8;
          color: #8f8171;
          text-decoration:none;
        }
      }
    }
  }

  .bk-table .bk-tabletree > tbody > tr > td {
    border-left: 0 !important;
  }

  .bk-table .table > tbody > tr > td.with-layer {
    padding: 0 !important;
  }

  .bk-table .table > tbody > tr > td a {
    vertical-align: middle;
  }

  td.with-layer {
    text-align: right;
    padding: 7px 0px 6px !important;
  }

  span.bki-completed-task {
    color: #cde600;
    position: absolute;
    left: 0;
    top: 8px;
  }

  span.bki-required-optional {
    color: #fff;
    position: absolute;
    left: 0;
    top: 3px;
    font-size:18px;
  }

  .bki-completed-task {
    font-size: 17px;
  }

  .bk-tabletree td {
    background-color: #ffffff;

    .bki-required-background {
      color: #ffcc01;
      left:20px;
      position: absolute;
    }

    .bki-required-sing {
      color: #008daa;
      left: 0;
      position: absolute;
      top:0;
    }

    .bk-active {
      &.bk-combo-control {
        background-color: #f7f7f7;
        border-left: 1px solid #d2d2d2;
        border-right: 1px solid #d2d2d2;
        border-top: 1px solid #d2d2d2;
        z-index: 11;
      }

      .bki-contextual-menu {
        color: $active-color;
      }
    }

    .bk-contextual-menu.task-menu {
      font-size: 17px;
      position: relative;
      text-align: right;
      display: inline-block;
      vertical-align: middle;
      padding: 4px;
      margin-left: 8px;
      margin-top: 3px;
      margin-bottom: 3px;
      border-top: 1px solid transparent;
      border-left: 1px solid #ddd;
      border-right: 1px solid transparent;

      &:before {
        display: none;
      }

      &.active {
        background-color: #f7f7f7;
        border-left: 1px solid #d2d2d2;
        border-right: 1px solid #d2d2d2;
        border-top: 1px solid #d2d2d2;

        span.bki-contextual-menu {
          color: #c4d600
        }

      }
    }

    .bk-combo-control {
      padding: 4px;
    }
  }
}

