<div class="col-m-6 col-l-6">
  <h6 class="tab">HISTÓRICO DE REPARTOS </h6>
  <div class="bk-table">
    <table class="table scrollable-table">
      <colgroup>
      <col class="hist-titDate"/>
      <col class="hist-typeDist"/>
      <col class="hist-dateTram"/>
      <col class="hist-state"/>
      <col class="scroll"/>
    </colgroup>
    <thead>
      <tr>
        <th class="text-center"> Fecha cambio titularidad</th>
        <th class="text-left"> Tipo de distribución</th>
        <th class="text-center"> Fecha de tramitación</th>
        <th class="text-left"> Estado</th>
        <th></th>
      </tr>
    </thead>
  </table>
  <div class="scrollable-body">
    <table class="table scrollable-table">
      <colgroup>
      <col class="hist-titDate"/>
      <col class="hist-typeDist"/>
      <col class="hist-dateTram"/>
      <col class="hist-state"/>
      <col class="scroll"/>
    </colgroup>
  </colgroup>
  <tbody>
    <tr ng-repeat="movi in historyDealsCtrl.historyDealsArray" ng-click="historyDealsCtrl.changeClass($index)" ng-class="{'active':$index == historyDealsCtrl.active}">
      <td class="text-center">
        <label>{{movi.fecha_titular}}</label>
      </td>
      <td class="text-left">
        <label>{{movi.tipo_distribucion}}</label>
      </td>
      <td class="text-center">
        <label>{{movi.fecha_tram}}</label>
      </td>
      <td class="text-left">
        <label>{{movi.estado}}</label>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<div class="footerTable">
  <div bk-button="bk-button" type="button" bk-type="=" ng-disabled="!historyDealsCtrl.habilitarBotonDetalle == true" value="Detalle" ui-sref="searchResults">Detalle</div>
</div>
</div>
</div>
