.divTablaDinamica {
	background-color: #F6F6F6;
}

.fondoDivDinamico {
	background-color: #e5e8b5;
	padding: 12px 8px 0px 8px;
	margin-bottom: 60px;
	border: 1px solid #B0B0B0;
}

.dynamic-header-detailSearch {
	padding-bottom: 32px
}

.dynamic-header-detailSearch .funds {
    width: 40px;
}

.dynamic-header-detailSearch .dis {
    width: 170px;
}

.dynamic-header-detailSearch .rep {
    width: 140px;
}

.dynamic-header-detailSearch .gan {
    width: 108px;
}

.dynamic-header-detailSearch .her {
    width: 110px;
}

.dynamic-header-detailSearch .con {
    width: 110px;
}

.dynamic-header-detailSearch .ref {
    width: 140px;
}

.fondoDivDinamico .bk-table {
	min-height: 140px;
}

th.dynamic-holdBacK, th.dynamic-holdBacK {
    width: 60px;
}

th.dynamic-type, td.dynamic-type {
    width: 92px;
}

th.dynamic-document, td.dynamic-document {
    width: 100px;
}

th.dynamic-name, td.dynamic-name {
    width: 244px;
}

th.dynamic-relation, td.dynamic-relation {
    width: 160px;
}

th.dynamic-order {
    width: 62px;
}

.footerDynamic .bk-buttonbar {
  background: #e5e8b5;
  padding: 6px 2px 7px 0px;
}
