<div ng-if="searchResultsCtrl.verDetalle == true" class="fondoDivDinamico">
  <div class="clearfix dynamic-header-detailSearch">
    <div class="funds col-padding-right text-right">
      <div class="form-group">
        <label for="campo-disabled"><span class="text">Fondo:</span>
          <input id="campo-disabled" type="text" disabled="disabled" ng-model="searchResultsCtrl.cuadroDinamicoArray[indiceDin].fondo" class="form-control text-right disabled"/>
        </label>
      </div>
    </div>
    <div class="dis col-padding-right text-left">
      <div class="form-group">
        <label for="campo-disabled"><span class="text">Disponibilidad:</span>
          <input id="campo-disabled" type="text" disabled="disabled" ng-model="searchResultsCtrl.cuadroDinamicoArray[indiceDin].disponibilidad" class="form-control text-left disabled"/>
        </label>
      </div>
    </div>
    <div class="rep col-padding-right text-left">
      <div class="form-group">
        <label for="campo-disabled"><span class="text">Reparto:</span>
          <input id="campo-disabled" type="text" disabled="disabled" ng-model="searchResultsCtrl.cuadroDinamicoArray[indiceDin].reparto" class="form-control text-left disabled"/>
        </label>
      </div>
    </div>
    <div class="gan col-padding-right text-left">
      <div class="form-group">
        <label for="campo-disabled"><span class="text">Gananciales:</span>
          <input id="campo-disabled" type="text" disabled="disabled" ng-model="searchResultsCtrl.cuadroDinamicoArray[indiceDin].gananciales" class="form-control text-right disabled"/>
        </label>
      </div>
    </div>
    <div class="her col-padding-right text-left col-disabled">
      <div class="form-group">
        <label for="campo-disabled"><span class="text">Herencia:</span>
          <input id="campo-disabled" type="text" disabled="disabled" ng-model="searchResultsCtrl.cuadroDinamicoArray[indiceDin].herencia" class="form-control text-right disabled"/>
        </label>
      </div>
    </div>
    <div class="con col-padding-right text-left col-disabled">
      <div class="form-group">
        <label for="campo-disabled"><span class="text">Condominio:</span>
          <input id="campo-disabled" type="text" disabled="disabled" ng-model="searchResultsCtrl.cuadroDinamicoArray[indiceDin].condominio" class="form-control text-right disabled"/>
        </label>
      </div>
    </div>
    <div class="ref text-left col-disabled">
      <div class="form-group">
        <label for="campo-disabled"><span class="text">Referencia Externa:</span>
          <input id="campo-disabled" type="text" disabled="disabled" ng-model="searchResultsCtrl.cuadroDinamicoArray[indiceDin].ref_externa" class="form-control text-right disabled"/>
        </label>
      </div>
    </div>
  </div>
  <div class="divTablaDinamica">
    <div class="bk-table">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center dynamic-holdBacK">Retener</th>
            <th class="text-left dynamic-type">Tipo</th>
            <th class="text-left dynamic-document">Documento</th>
            <th class="text-left dynamic-name">Nombre y apellidos/Razón social</th>
            <th class="text-left dynamic-relation">Relación</th>
            <th class="text-center dynamic-order">Orden</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center dynamic-holdBacK">
              <input type="checkbox"/>
            </td>
            <td class="text-left dynamic-type">
              <label>{{searchResultsCtrl.cuadroDinamicoArray[indiceDin].tipo}}</label>
            </td>
            <td class="text-left dynamic-document">
              <label>{{searchResultsCtrl.cuadroDinamicoArray[indiceDin].documento}}</label>
            </td>
            <td class="text-left dynamic-name">
              <a href="" class="enlacesSubr">{{searchResultsCtrl.cuadroDinamicoArray[indiceDin].nom_apellidos}}</a>
            </td>
            <td class="text-lef dynamic-relation">
              <label>{{searchResultsCtrl.cuadroDinamicoArray[indiceDin].relacion}}</label>
            </td>
            <td class="text-center dynamic-order">
              <label>{{searchResultsCtrl.cuadroDinamicoArray[indiceDin].orden}}</label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td class="text-center dynamic-holdBacK">
            </td>
            <td class="text-left dynamic-type">
            </td>
            <td class="text-left dynamic-document">
            </td>
            <td class="text-left dynamic-name">
            </td>
            <td class="text-lef dynamic-relation">
            </td>
            <td class="text-center dynamic-order">
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footerDynamic">
      <ul class="bk-buttonbar">
        <li>
          <div bk-button="bk-button" type="button" bk-type="-" ng-click="searchResultsCtrl.eventoBotonDetalle()">Cerrar</div>
        </li>
      </ul>
    </div>
  </div>
</div>
