<div class="col-padding-right">
  <label>
    <span class="text">Entidad:</span>
    <at-select placeholder="Selec. opción" list="dataSearchCtrl.tipoEntidadArray" ng-model="dataSearchCtrl.tipoEntidad" at-width="122px" class="clearfix"></at-select>
  </label>
</div>
<div class="col-padding-right">
  <span bk-cl-multiproduct="bk-cl-multiproduct" bk-id="produc1" name="produc1" ng-model="produc1" ng-required="required1" bk-labels="true"></span>
</div> 
<button id="botonVer" value="Ver" ui-sref="searchResults" class="btn btn-default">Ver</button>
