.bk-cl-product .form-control {
	display: inline-block;
}

.iban-group input{
	padding: 2px 4px;
}

.iban-group.country input {
  padding: 0px 0px 0px 4px;
}

.iban-group.iban-control-digit input{
  padding: 0px 4px 0px 0px;
}

button#botonVer {
	margin-top: 17px;
	margin-left: 15px;
	height: 25px;
	width: 64px;
	display: inline-block;
}

button#botonVer:focus {
	border-color: #94a103;
	outline: 0;    
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(148, 161, 3, 0.6);    
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(148, 161, 3, 0.6);
}