<article class="bk-document-injection layer-example-1">
  <div class="bk-table">
    <table class="table">
      <caption>
        <div class="title"><span class="bki-stack"><i class="ico bki-ico-injections-base"></i><i class="bki-ico-injections-arrow"></i></span><h6 class="tab">Documentación</h6></div>
      </caption>
    </table>
    <div class="overflow-wrapper">
      <div class="bk-combo-content">
        <ul class="task-group ng-scope" ng-repeat="group in availableTasks">
          <li ng-repeat="task in group.taskGroup" class="ng-scope"><a href="" ng-click="displayTask()" class="ng-binding">{{task.name}}</a></li>
        </ul>
      </div>
      <div class="scrollable scrollable-body">
        <table class="table bk-tabletree">
          <colgroup>
            <col class="document"/>
            <col class="status"/>
            <col class="actions-layer"/>
          </colgroup>
          <tbody>
            <tr ng-repeat="docu in documents track by $index">
              <td>
                <p class="document-name ng-binding">{{docu.id}}</p>
              </td>
              <td>
                <span class="bki-completed-task">
                  <span class="bki-required-optional"> </span>
                </span>
                <span class="bki-required-background" ng-if="docu.state == 'En expediente'">
                  <span class="bki-required-sing"> </span>
                </span>
                <span class="document-status ng-binding">{{docu.state}}</span>
              </td>
              <td class="with-layer">
                <a href="" class="ng-binding">{{docu.selectedAction}}</a>
                <div class="bk-contextual-menu task-menu" >
                  <button><span class="bki-contextual-menu"></span></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>