/* Lista de tareas */

.bk-tasklist {
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

.bk-tasklist ul {
  background-color: transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.bk-tasklist li {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #f6f6f6;
  border: 1px solid #fff;
  margin-bottom: 0px;
}

.bk-tasklist li:last-child {
  margin-bottom: 0;
}


.bk-tasklist li.type-sequential .description {
  text-transform: none;
  color: #777;
}

.bk-tasklist li.bk-selected {
	background-color: #fff !important;
}

.bk-tasklist li .bki-shared {
	background-color: transparent;
}

li .bk-required {
  background-color: #ffcc01;
  color: #017a99;
  font-size: 14px;
}

li .bki-completed-task, li .bki-uncompleted-task {
  color: #35261a;
  font-size: 12px;
}

li .bki-uncompleted-task::before {
  background-color: #fff;
  border-radius: 100%;
}

/* END * Lista de tareas */

/* Lista de tareas clases custom */

ul.caption {
  padding-top: 4px;
}

ul.caption li {
  display: inline-block;
  padding-right: 8px;
}

span.middle {
	vertical-align: middle;
}

/* END * Lista de tareas clases custom */

/* Historial de repartos custom */

input.vlp {
  height: 25px;
  width: 125px;
  margin-left: 4px;
}

/* END * Historial de repartos custom */

/* Fondos a repartir */

h6.title-funds {
  margin: 0;
  padding: 8px;
  background: #B2C300;
  display: block;
}

.scrollable-body.deal-funds {
  min-height: 120px;
}

.container-form {
  background: rgba(255,255,255,0.8);
  padding: 8px;
}

input.padding-top {
  margin-top: 4px;
}

.bk-table.deal-funds {
  background-color: transparent;
}

label.break {
	padding-bottom: 6px;
}

.col-sm-5.col-md-5.col-lg-5.break {
  padding-left: 0;
  padding-right: 8px;
}

.col-sm-12.col-md-12.col-lg-12.footer-break {
  padding-bottom: 60px;
}

/* END * Fondos a repartir */